@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="tr">
<head>
    <title>AJAX</title>
</head>
<body>

<script>
function loadDoc() {
  let xHttp= new XMLHttpRequest();
  xHttp.onreadystatechange= function(){
    if (this.readyState===0){
     document.querySelector('#state').innerHTML="İstek başlatılamadı<br>";
     }
     else if (this.readyState===1){
        document.querySelector('#state').innerHTML+="Sunucuya bağlanıldı<br>";
         }
     else if (this.readyState===2){
        document.querySelector('#state').innerHTML+="Sunucuya talebi aldı<br>";
        }
     else if (this.readyState===3){
        document.querySelector('#state').innerHTML+="Sunucuya talebi işliyor<br>";
        }
     else if (this.status===404){
        document.querySelector('#state').innerHTML+="İşlem yapılamadı belgeniz yok ";
        }
     else if (this.readyState===4&&this.status===200){
        document.querySelector('#result').innerHTML+=this.responseText;
        }
     document.querySelector('#result').innerHTML+=this.getAllResponseHeaders();
     }
     xHttp.open("GET","/Students.xml",true);
     xHttp.send();
}
</script>
<div>
    <h4 id="state"></h4>
    <h2 id="result"></h2>
    <button type="button" onclick="loadDoc()">LOAD</button>
</div>
</body>
</html>